<ion-header [translucent]="true" > <!-- cabecera del header -->
  <ion-toolbar color="success"> <!-- barra de herramientas -->
    <ion-title > <!-- es un componente que sobreentiende que es un titulo por eso no se pone un h1-->
      Whatsapp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="setAction(true)" >click aquí</ion-button>
  <!-- is open verifica y valida la variable mostrar-->
   <!-- header es el titulo-->
    <!--didDimiss hace que cuando toque cualquier parte de la pantalla que saque la opción-->
  <ion-action-sheet [isOpen]="mostrar" header="Opciones" [buttons]="botones" (didDismiss)="setAction(false)">
    
  </ion-action-sheet>
  <ion-alert [isOpen]="mostrarAlert" header="Acción requerida" message="¿Estás seguro de querer cancelar?" [buttons]="botonesAlert" (didDismiss)="setAlert(false)">

  </ion-alert>
  
</ion-content>
